body {
    text-align: center;
    font-family: 'Bungee Spice', cursive;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: #e76c08;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #774801;
}

h1 {
    font-size: 5rem;
}

#gameInterface {
    display:flex;
    justify-content: center;
    gap: 10rem;
}

#selectionBox {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: 3rem;
}

.selections {
    display: flex;
    gap: 3rem;
}

.selection {
    max-width: 15rem;
    min-height: 20rem;
    border: solid;
    border-color: gainsboro;
}

.selection:hover {
    transform: scale(1.05);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}


#computerSelection:hover {
    transform: scale(1);
    border-color: gainsboro;
    box-shadow: 0 0 0 gainsboro;
}