body {
    text-align: center;
    font-family: 'Bungee Spice', cursive;
}

h1 {
    font-size: 5rem;
}

#gameInterface {
    display:flex;
    justify-content: center;
    gap: 10rem;
}

#selectionBox {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: 3rem;
}

.selections {
    display: flex;
    gap: 3rem;
}

.selection {
    min-width: 15rem;
    border: solid;
    border-color: gainsboro;
}

.selection:hover {
    transform: scale(1.05);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.noHover {
    
}

#computerSelection:hover {
    transform: scale(1);
    border-color: gainsboro;
    box-shadow: 0 0 0 gainsboro;
}